@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=Rock+Salt&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #b5179e;
  --secondary-color: #7209b7;
  --accent1-color: #560bad;
  --accent2-color: #4895ef;

  /* change the values below to your chosen font(s) */
  --heading-font: "roman";
  --paragraph-font: IBM Plex Serif, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #fdfeff;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #b5179e; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #7209b7;
  --nav-link-color: white;
  --nav-background-color: #dbb947;
  --nav-hover-link-color: rgb(8, 245, 245);
  --nav-hover-background-color: #4895ef;
}
.banner{
  opacity:0.5;
  text-decoration:none;
  display: flex;
  /* border-bottom:1px solid #3d6ef5; */
  width:auto;
  height:124px;
  position:relative;
  opacity:1;
  margin:0.1rem auto;
  align-items: center; /* this can align the item like home etc on the centre */
  grid-template-columns: 120px 1fr 2fr;
}
.hero img{
display: block;
width:100%;
height:450px;
opacity:0.9;
background-color:#d3d3d3;
} /*this is no change*/ 
.hero {
  display: block;
  width:auto;
  height: auto;
  position:relative; /* No change relative */
  /* background-color:#d3d3d3; */
}
.hero div h1,p {
  position:relative; /*this is correct "absolute" also correct */
}
  /* color: #0c000c; */
 /* }  */ 
 /* in this section I have done extra creative by floating the home page title on the image and changes the color when
  mouse is hovering on the text i trid to put both idead as mentioned in the course but the text was overlaped. */
.banner nav a{
text-emphasis-color: var(--headline-color-on-white);
background-color:#d3d3d3;
text-decoration: none;
padding: 2.5rem;
font-size:18px;
}
.banner nav a:hover {
  color: var(--nav-hover-link-color);
}
/* .happy-image p {
position:absolute;
float:left;
} */

.happy-image img {
  float:right;
  width:auto;
  height:100px;
}
.happy-image {
  display:block;
  background-color: #e0ecf8;
}
/* main section img{
  width:"10px";
  height:"auto";
} */
.flex1 {
  display:flex;
  flex-direction:column;
  background-color: #e0ecf8;
  padding:5px;
}
.flex2 {
 background-color: #e0ecf8;
 flex-direction:row;
 margin:0 auto;
 
}
body {
  max-width: 840px;
  margin: 0 auto;
}
/* .flex2{
flex-wrap: wrap;
flex:200px    this means eaxh article 200px wide
} */
/* article{
  flex:1;
} */
/* article:nth-last-of-type(3){
  flex:2;
} */


/* article{  */
  /* flex: 1 200px; for 1 flex 200px */
/* } */
/* article:nth-last-of-type(3){ */
  /* flex:2 200px; for 2 flex 200px  and remaininf space equally distributed  */
/* }  */
div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(225, 225,225,0.5);
}
/* button:first-child{
  order:1;
} */
/* button{
  flex:1 auto;
  margin: 5px;
  font-size: 18px;
  line-height: 1.5;

} */
/* header{
  
	display: grid;
	grid-template-columns: 855px 1fr 2fr;
	align-items: center;
} */

